@page "/"

<PageTitle>Index</PageTitle>

<div class="main-container">
    <h1>Demontracija RSA algoritma</h1>
    <h3>Algoritmi u primjeni</h3>
    <hr id="line">
    <div class="section">
        <p>
            Ova razor aplikacija služi za demonstraciju RSA algoritma, 
            a izrađena je kao projekt za kolegij Algoritmi u primjeni.
            Zadatak je odabrati algoritam za poznati problem, proučiti 
            kako funkcionira te ga implementirati u obliku razor aplikacije.
        </p>
        <p>
            RSA (Rivest-Shamir-Adleman) je algoritam asimetrične kriptografije 
            razvijen 1977. godine.
            Glavna svrha RSA algoritma je osigurati sigurnu komunikaciju putem javne mreže tako 
            da samo odabrani primatelj može dekriptirati poruku. Funkcionira na principu 
            korištenja javnog i privatnog ključa. Javni ključ se koristi za enkripciju podataka, 
            dok se privatni ključ koristi za dekripciju. Ključna prednost RSA algoritma je da čak 
            i ako je javni ključ poznat svima, gotovo je nemoguće odrediti privatni ključ koji 
            je potreban za dekripciju.
        </p>
        <p>
            Sigurnost RSA algoritma se temelji na matematičkom problemu faktorizacije velikih brojeva. 
            Što su brojevi veći, to je faktorizacija teža i zahtijeva ogromnu računalnu snagu. 
            RSA algoritam je postao temelj modernih kriptografskih sustava i koristi se u raznim aplikacijama, 
            poput sigurnog prijenosa podataka, digitalnih potpisa, SSL/TLS protokola za sigurno pregledavanje 
            web stranica i još mnogo toga.
        </p>
    </div>
    <div class="section">
        <p></p>
    </div>
</div>
